


// Colors

$color-w: white;

$color : #0084FF;
$color-light : #008BD9;
$color-dark : #006AE7;
$color-title: #006CD0;
$color-font-main : #00519D;
$color_font-acerca-1 : #0064C1;
$color_font-contact-1 : #005DB4;
$color_font-contact-2 : #004484;


// Margin CENTER 

$center: 0 auto;

